body {
  background-color: rgb(254, 254, 254);
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(178, 190, 223);
}

.products {
}
