body {
  background-color: rgb(254, 254, 254);
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  background-color: rgb(178, 190, 223);
}

.products {
  flex-wrap: wrap;
  text-align: center;
}

.product {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
.product:hover {
  transform: scale(1.1);
  /* filter: blur(3px); */
}
