body {
  background-color: rgb(254, 254, 254);
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  background-color: rgb(170, 171, 175);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 2px;
  margin-bottom: 10px;
  padding: 5px;
  overflow: hidden;
}

.Btns {
  display: flex;
  justify-content: space-around;
}

.infoBtn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}
.infoBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.addToCartBtn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.product .bike .image:hover {
  display: block;
  transform: scale(1.1);
  transition: ease-in 0.25s;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.container .description {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-top: 2.5%;
}

.container .description .descriptionHeader {
  font-size: 35px;
}

.container .productBike {
  margin-top: 5%;
}

.container .productBike .image {
  width: 450px;
  height: 450px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5%;
}
.container .productBike .image:hover {
  transform: scale(1.1);
  display: block;
}
.container .productBike .title {
  margin-top: 5%;
  font-weight: 600;
  font-size: 30px;
}
.container .productBike .price {
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.container .productBike .addToCartBtn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 17px;
}

.container .productBike .addToCartBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container .productBike {
    margin: auto;
    margin-top: 8%;
  }

  .container .description {
    width: 65%;
  }

  .container .productBike .image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 415px) {
  .container .productBike .image {
    width: 300px;
    height: 300px;
  }
  .container .description {
    width: 80%;
  }
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
  height: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}
