body {
  background-color: rgb(231, 229, 229);
  font-family: "Raleway";
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-bottom: 30px;
  background-color: rgb(208, 211, 25);
  -webkit-box-shadow: inset 0px 0px 9px 2px rgba(150, 145, 145, 1);
  -moz-box-shadow: inset 0px 0px 9px 2px rgba(150, 145, 145, 1);
  box-shadow: inset 0px 0px 9px 2px rgba(150, 145, 145, 1);
}

.navBar .image {
  margin-left: 7%;
}

.navBar .right {
  display: flex;
  flex-direction: row;
  margin-right: 7%;
}
.navBar .right .cart {
  margin-right: 50px;
}

.Search {
  margin: auto;
  width: 50%;
}
.Search .SearchInput {
  display: block;
  margin: 0 auto;
  background-color: white;
  border: 2px solid rgb(19, 19, 19);
  min-width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 25px auto;
  padding: 5px;
  overflow: hidden;
  background-color: rgb(208, 211, 25);
  color: rgb(0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 9px 2px rgba(150, 145, 145, 1);
  -moz-box-shadow: inset 0px 0px 9px 2px rgba(150, 145, 145, 1);
  box-shadow: inset 0px 0px 9px 2px rgba(150, 145, 145, 1);
}

.bike {
  padding: 20px;
}

.bike .image {
  -webkit-box-shadow: 0px 0px 9px 1px rgba(150, 145, 145, 1);
  -moz-box-shadow: 0px 0px 9px 1px rgba(150, 145, 145, 1);
  box-shadow: 0px 0px 9px 1px rgba(150, 145, 145, 1);
}

.bikeName {
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.bikePrice {
  font-size: 40px;
  font-family: "Courier New", monospace;
}

.Btns {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.infoBtn {
  outline: 0;
  border: 0;
  background-color: white;
  min-width: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(150, 145, 145, 1);
  -moz-box-shadow: 0px 0px 9px 2px rgba(150, 145, 145, 1);
  box-shadow: 0px 0px 9px 2px rgba(150, 145, 145, 1);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.infoBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.addToCartBtn {
  outline: 0;
  border: 0;
  background-color: white;
  min-width: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(150, 145, 145, 1);
  -moz-box-shadow: 0px 0px 9px 2px rgba(150, 145, 145, 1);
  box-shadow: 0px 0px 9px 2px rgba(150, 145, 145, 1);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.addToCartBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.product .bike .image:hover {
  display: block;
  transform: scale(1.02);
  transition: ease-in 0.25s;
}

/* 
@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container .productBike {
    margin: auto;
    margin-top: 8%;
  }

  .container .description {
    width: 65%;
  }

  .container .productBike .image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 415px) {
  .container .productBike .image {
    width: 300px;
    height: 300px;
  }
  .container .description {
    width: 80%;
  } */

.cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 30px;
  background-color: white;
}

.cartItem img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
  margin-left: 40px;
}

.cartSummary {
  background-color: white;
  padding: 35px;
}

.subPrice {
  border-bottom: 2px solid #e1e0e0;
  padding-bottom: 9px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.shoppingCart .cart {
  display: flex;
  flex-direction: row;
}
.cartContinueShoppingBtn {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 20px;
  color: #302f2f;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  margin-top: 20px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.cartContinueShoppingBtn:hover {
  border: 1px solid #c9940d;
  color: #c9940d;
  cursor: pointer;
}
