body {
  background-color: rgb(254, 254, 254);
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  background-color: rgb(178, 190, 223);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
  padding-top: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 2px;
  margin-bottom: 10px;
  padding: 5px;
}

/* .product .bike {
} */
/* .product .description {
  text-align: center;
} */

/* .product:hover {
  transform: scale(1.1); */
/* } */
/* filter: blur(3px); */
